
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body> 
    <p><h1>Welcome to SMS 1.0</h1></p>
    <p>
        <a href="~/Admission_form/Index">Admission form</a>
        <a href="~/Students/Index">Student</a>
        <a href="~/Staffs/Index">Staff</a>
        <a href="~/Authorities/Index">Authorities</a>
        <a href="~/Classrooms/Index">Classroom</a>
        <a href="~/Maps/Index">Map</a>
        <a href="~/Libraries/Index">Library</a>
        <a href="~/Fees/Index">Fees</a>

    </p>
</body>
</html>
